In [ ]:
# The code was removed by Watson Studio for sharing.

## in this section i will be using beautiful soup to extract nad clean the data

In [2]:
import pandas as pd
import numpy as np

In [3]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)

In [5]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [6]:
rows = soup.find_all('tr')
print(rows[:10])

[<tr>
<th>Postal Code
</th>
<th>Borough
</th>
<th>Neighbourhood
</th></tr>, <tr>
<td>M1A
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>, <tr>
<td>M2A
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>, <tr>
<td>M3A
</td>
<td>North York
</td>
<td>Parkwoods
</td></tr>, <tr>
<td>M4A
</td>
<td>North York
</td>
<td>Victoria Village
</td></tr>, <tr>
<td>M5A
</td>
<td>Downtown Toronto
</td>
<td>Regent Park, Harbourfront
</td></tr>, <tr>
<td>M6A
</td>
<td>North York
</td>
<td>Lawrence Manor, Lawrence Heights
</td></tr>, <tr>
<td>M7A
</td>
<td>Downtown Toronto
</td>
<td>Queen's Park, Ontario Provincial Government
</td></tr>, <tr>
<td>M8A
</td>
<td>Not assigned
</td>
<td>Not assigned
</td></tr>, <tr>
<td>M9A
</td>
<td>Etobicoke
</td>
<td>Islington Avenue, Humber Valley Village
</td></tr>]

In [7]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td align="center" style="border: 1px solid #FF0000; background-color: #FFE0E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_A" title="List of postal codes of Canada: A">A</a>
</td>, <td align="center" style="border: 1px solid #FF4000; background-color: #FFE8E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_B" title="List of postal codes of Canada: B">B</a>
</td>, <td align="center" style="border: 1px solid #FF8000; background-color: #FFF0E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_C" title="List of postal codes of Canada: C">C</a>
</td>, <td align="center" style="border: 1px solid #FFC000; background-color: #FFF8E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_E" title="List of postal codes of Canada: E">E</a>
</td>, <td align="center" style="border: 1px solid #FFFF00; background-color: #FFFFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_G" title="List of postal codes of Canada: G">G</a>
</td>, <td align="center" style="border: 1px solid #C0FF00; background-color: #F8FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_H" title="List of postal codes of Canada: H">H</a>
</td>, <td align="center" style="border: 1px solid #80FF00; background-color: #F0FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_J" title="List of postal codes of Canada: J">J</a>
</td>, <td align="center" style="border: 1px solid #00FF00; background-color: #E0FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_K" title="List of postal codes of Canada: K">K</a>
</td>, <td align="center" style="border: 1px solid #00FF80; background-color: #E0FFF0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_L" title="List of postal codes of Canada: L">L</a>
</td>, <td align="center" style="border: 1px solid #E0FFF8; background-color: #00FFC0; font-size: 135%; color: black;" width="5%"><a class="mw-selflink selflink">M</a>
</td>, <td align="center" style="border: 1px solid #00FFE0; background-color: #E0FFFC; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_N" title="List of postal codes of Canada: N">N</a>
</td>, <td align="center" style="border: 1px solid #00FFFF; background-color: #E0FFFF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_P" title="List of postal codes of Canada: P">P</a>
</td>, <td align="center" style="border: 1px solid #00C0FF; background-color: #E0F8FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_R" title="List of postal codes of Canada: R">R</a>
</td>, <td align="center" style="border: 1px solid #0080FF; background-color: #E0F0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_S" title="List of postal codes of Canada: S">S</a>
</td>, <td align="center" style="border: 1px solid #0040FF; background-color: #E0E8FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_T" title="List of postal codes of Canada: T">T</a>
</td>, <td align="center" style="border: 1px solid #0000FF; background-color: #E0E0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_V" title="List of postal codes of Canada: V">V</a>
</td>, <td align="center" style="border: 1px solid #A000FF; background-color: #E8E0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_X" title="List of postal codes of Canada: X">X</a>
</td>, <td align="center" style="border: 1px solid #FF00FF; background-color: #FFE0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_Y" title="List of postal codes of Canada: Y">Y</a>
</td>]

bs4.element.ResultSet

In [8]:
import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[A
, B
, C
, E
, G
, H
, J
, K
, L
, M
, N
, P
, R
, S
, T
, V
, X
, Y
]

str

In [9]:
df = pd.DataFrame(list_rows)
df.head()

                                           0
0                                         []
1    [M1A\n, Not assigned\n, Not assigned\n]
2    [M2A\n, Not assigned\n, Not assigned\n]
3         [M3A\n, North York\n, Parkwoods\n]
4  [M4A\n, North York\n, Victoria Village\n]

In [10]:
df1 = df[0].str.split('\n', expand=True)
df1.head(6)

,0,1,2,3,4,5,6,7,8,9,...,85,86,87,88,89,90,91,92,93,94
0,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[M1A,", Not assigned",", Not assigned",],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[M2A,", Not assigned",", Not assigned",],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[M3A,", North York",", Parkwoods",],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[M4A,", North York",", Victoria Village",],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,[M5A,", Downtown Toronto",", Regent Park, Harbourfront",],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [11]:
to_drop = df1.iloc[:, 3:95]
df1.drop(to_drop, inplace=True, axis=1)

In [12]:
df1.head()

      0               1                   2
0    []            None                None
1  [M1A  , Not assigned      , Not assigned
2  [M2A  , Not assigned      , Not assigned
3  [M3A    , North York         , Parkwoods
4  [M4A    , North York  , Victoria Village

In [13]:
df1[0] = df1[0].str.strip('[')
df1[0] = df1[0].str.strip(']')
df1[1] = df1[1].str.strip()
df1[1] = df1[1].str.strip()
df1.head()

     0               1                   2
0                 None                None
1  M1A  , Not assigned      , Not assigned
2  M2A  , Not assigned      , Not assigned
3  M3A    , North York         , Parkwoods
4  M4A    , North York  , Victoria Village

In [14]:
df_tor = df1
df_tor.head()

     0               1                   2
0                 None                None
1  M1A  , Not assigned      , Not assigned
2  M2A  , Not assigned      , Not assigned
3  M3A    , North York         , Parkwoods
4  M4A    , North York  , Victoria Village

In [15]:
df_tor[1] = df_tor[1].str.strip(',')
df_tor[2] = df_tor[2].str.strip(',')
df_tor.head()

     0              1                  2
0                None               None
1  M1A   Not assigned       Not assigned
2  M2A   Not assigned       Not assigned
3  M3A     North York          Parkwoods
4  M4A     North York   Victoria Village

In [16]:
df_TOR = df_tor

In [17]:
df_TOR[1] = df_TOR[1].str.strip()
df_TOR[2] = df_TOR[2].str.strip()
df_TOR.head()

     0             1                 2
0               None              None
1  M1A  Not assigned      Not assigned
2  M2A  Not assigned      Not assigned
3  M3A    North York         Parkwoods
4  M4A    North York  Victoria Village

In [18]:
col_labels = soup.find_all('th')
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

['[Postal Code\n, Borough\n, Neighbourhood\n, Canadian postal codes\n]']

In [19]:
df_h = pd.DataFrame(all_header)
df_h.head()

                                                   0
0  [Postal Code\n, Borough\n, Neighbourhood\n, Ca...

In [20]:
df_h1 = df_h[0].str.split('\n', expand=True)
df_h1.head()

              0          1                2                        3  4
0  [Postal Code  , Borough  , Neighbourhood  , Canadian postal codes  ]

In [21]:
df_h1.drop([3,4], axis=1, inplace=True)

#### merge both dataframes to give table a header

In [22]:
frames = [df_h1,df_TOR ]
df_toronto = pd.concat(frames)
df_toronto.head()

              0             1                2
0  [Postal Code     , Borough  , Neighbourhood
0                        None             None
1           M1A  Not assigned     Not assigned
2           M2A  Not assigned     Not assigned
3           M3A    North York        Parkwoods

In [23]:
df_toronto1 = df_toronto.rename(columns=df_toronto.iloc[0])
df_toronto1.head()

   [Postal Code     , Borough  , Neighbourhood
0  [Postal Code     , Borough  , Neighbourhood
0                        None             None
1           M1A  Not assigned     Not assigned
2           M2A  Not assigned     Not assigned
3           M3A    North York        Parkwoods

In [24]:
df_toronto2 = df_toronto1.drop(df_toronto1.index[0])
df_toronto2.head()

  [Postal Code         , Borough            , Neighbourhood
1          M1A      Not assigned               Not assigned
2          M2A      Not assigned               Not assigned
3          M3A        North York                  Parkwoods
4          M4A        North York           Victoria Village
5          M5A  Downtown Toronto  Regent Park, Harbourfront

In [25]:
df_toronto2.columns = list(map(str, df_toronto2.columns))

In [26]:
all(isinstance(column, str)for column in df_toronto2.columns)

True

In [27]:
df_toronto2.columns

Index(['[Postal Code', ', Borough', ', Neighbourhood'], dtype='object')

#### rename the columns

In [28]:
df_toronto2.rename(columns={'[Postal Code':'Postalcode', ', Borough':'borough',', Neighbourhood':'neighbourhood'}, inplace=True)

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [29]:
df_toronto2.columns

Index(['Postalcode', 'borough', 'neighbourhood'], dtype='object')

In [30]:
df_toronto2.head()

  Postalcode           borough              neighbourhood
1        M1A      Not assigned               Not assigned
2        M2A      Not assigned               Not assigned
3        M3A        North York                  Parkwoods
4        M4A        North York           Victoria Village
5        M5A  Downtown Toronto  Regent Park, Harbourfront

In [31]:
df_toronto2.drop(df_toronto2.loc[df_toronto2['borough']=='Not assigned'].index, inplace=True)
df_TORONTO=df_toronto2

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [32]:
df_TORONTO.head()

  Postalcode           borough                                neighbourhood
3        M3A        North York                                    Parkwoods
4        M4A        North York                             Victoria Village
5        M5A  Downtown Toronto                    Regent Park, Harbourfront
6        M6A        North York             Lawrence Manor, Lawrence Heights
7        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [33]:
df_TORONTO.neighbourhood.replace('Not assigned',df_toronto2.borough,inplace=True)

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [35]:
df_TORONTO.reset_index(drop=True, inplace=True)
df_TORONTO.head()

  Postalcode           borough                                neighbourhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### delete unwanted rows

In [37]:
df_TORONTO.tail()

    Postalcode    borough                                      neighbourhood
102        M8Z  Etobicoke  Mimico NW, The Queensway West, South of Bloor,...
103                                                                        ]
104
105         NL         NS                                                 PE
106          A          B                                                  C

In [39]:
df_TORONTO.drop([103,104,105,106], inplace=True)
df_TORONTO.tail()

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Postalcode,borough,neighbourhood
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [40]:
print (df_TORONTO.shape)

(103, 3)

In [56]:
from project_lib import Project
project = Project(project_id="205262a5-4cb1-4efa-b1a2-d4621faef89d", project_access_token="p-c73c668717a668739fd44aa7def01d2682418b5d")

project.save_data("torontodata.csv", df_TORONTO.to_csv(index=False))

{'file_name': 'torontodata.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'courseracapstone-donotdelete-pr-qespgaiz8hctcp',
 'asset_id': '610f3b0e-d763-4c81-a179-66e4350bac13'}

In [44]:
import os
os.getcwd( )

'/home/wsuser/work'

In [57]:
df_TORONTO.to_csv (r'C:\Users\Brenda\Desktop\torontodata.csv', index = False, header=True)

print (df)

                                                     0
0                                                   []
1              [M1A\n, Not assigned\n, Not assigned\n]
2              [M2A\n, Not assigned\n, Not assigned\n]
3                   [M3A\n, North York\n, Parkwoods\n]
4            [M4A\n, North York\n, Victoria Village\n]
..                                                 ...
180            [M9Z\n, Not assigned\n, Not assigned\n]
181                                           [\n, \n]
182  [\n\n\nNL\n\nNS\n\nPE\n\nNB\n\nQC\n\nON\n\nMB\...
183  [NL\n, NS\n, PE\n, NB\n, QC\n, ON\n, MB\n, SK\...
184  [A\n, B\n, C\n, E\n, G\n, H\n, J\n, K\n, L\n, ...

[185 rows x 1 columns]